# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Editor
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter/Dart/Pub related
.packages
.metadata
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
**/GeneratedPluginRegistrant.*

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release

# IntelliJ-specific
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name

# Localization
lib/l10n/*.dart

# Android Keystore
*.jks
